@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-day-picker/dist/style.css';

@layer base {
  body {
    color: #000;
    background: #fff;
  }
  /* datepicker 커스텀 */
  .rdp-root {
    --rdp-accent-color: #b94600 !important;
    --rdp-accent-background-color: #ffd3b8 !important;
  }

  .inner {
    @apply px-[20px];
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: none; /* 아이콘 숨기기 */
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*토글 버튼 구현용 클래스*/
@layer utilities {
  .toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
  }
  .toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    inset: 0px;
    background-color: #f1f1f1;
    transition: all 0.2s ease 0s;
    border-radius: 34px;
  }
  .toggle-btn .slider::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: all 0.2s ease 0s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 4px 0px;
  }
  .toggle-btn input:checked + .slider {
    background-color: #34c759;
  }
  .toggle-btn input:checked + .slider::before {
    transform: translateX(22px);
  }
  
  @media (min-width: 600px) {
    /*모달 배경색 가운데 정렬*/
    .modal-back-drop {
      width: 600px !important;
      margin: auto;
    }
    /*라이브러리 모달 배경색 가운데 정렬할 때는 이것도 필요*/
    .modal-sheet-back-drop {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

.react-modal-sheet-container.comment-list {
  height: 548px !important;
}

.react-modal-sheet-container.bottom-sheet {
  height: 187px !important;
}

.react-modal-sheet-container.management {
  height: 130px !important;
}

.bottom-open {
  top: 0 !important;
  bottom: 100px !important;
  left: 0 !important;
  right: 0 !important;
}

/* button 클래스 */
@layer utilities {
  .full-btn {
    @apply border-none outline-none w-full h-14 px-5 py-3 rounded-xl bg-primary text-white flex items-center justify-center text-base font-semibold leading-[140%];
  }

  .full-white-btn {
    @apply border outline-none w-full h-14 px-5 py-3 rounded-xl border-primary bg-white text-primary flex items-center justify-center text-base font-semibold leading-[140%];
  }

  .modal-full-btn {
    @apply border-none outline-none w-full h-12 px-5 py-3 rounded-xl bg-primary text-white flex items-center justify-center text-base font-semibold leading-[150%];
  }

  .modal-white-btn {
    @apply border outline-none w-full h-12 rounded-xl border-primary bg-white text-primary flex items-center justify-center text-base font-semibold leading-[150%];
  }

  .floating-btn {
    @apply w-[124px] h-11 flex items-center justify-center gap-1 rounded-[20px] text-sm bg-primary font-semibold leading-[140%] text-white shadow-[0px_4px_4px_0px_#00000033] fixed bottom-[6.125rem] /*right-5*/;
  }

  .no-floating-btn {
    @apply w-36 h-11 flex items-center justify-center gap-1 rounded-[20px] text-sm bg-primary font-semibold leading-[140%] text-white;
  }

  .disabled-btn {
    @apply border-none outline-none bg-gray-300 text-white leading-[140%] cursor-not-allowed;
  }

  .kakao-btn {
    @apply border-none outline-none bg-[#FBE850] w-full h-14 px-5 py-3 rounded-xl flex items-center justify-center gap-3 text-gray-900 text-base font-semibold leading-[140%];
  }

  .google-btn {
    @apply border outline-none border-gray-400 w-full h-14 px-5 py-3 rounded-xl flex items-center justify-center gap-3 text-gray-900 text-base font-semibold leading-[140%];
  }
}
